<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ブログ一覧</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">トップへ戻る</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  <table>
    <tr>
      <th>タイトル</th>
      <th>内容</th></th>
    </tr>
  
    <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.content %></td>
          <td><%= link_to '詳細を確認する', blog_path(blog.id),class:"btn btn-default btn-sm"%></td>
      <% if current_user == blog.user %>
            <td><%= link_to "ブログを編集する", edit_blog_path(blog.id),class:"btn btn-default btn-sm",data: { confirm: '本当に編集していいですか？' } %></td>
            <td><%= link_to 'ブログを削除する', blog_path(blog.id),class:"btn btn-default btn-sm", method: :delete,data: { confirm: '本当に削除していいですか？' } %></td>
       </tr>
      <% end %> 
    <% end %>
  </table>

  <br>
  <%= link_to 'ブログ一覧画面にもどる', blogs_path,class:"btn btn-default btn-sm"%>
  <%= link_to '新しくブログを投稿する', new_blog_path,class:"btn btn-default btn-sm"%>
  
</div>