<p id="notice"><%= notice %></p>
<div class="mypagetitle">
  <h1><%= @user.name %>'s profile</h1>
</div>

<div class="card bg-light" style="width: 600px; margin: auto;">
  <div class="card-body"> 
    <div class="mypagecontent">
      <div class="mypagetext">
        <p>Email address: <%= @user.email %></p>
          <div class="text-margin">
          　 <%= link_to 'Change my email address or password',edit_user_registration_path,class:"btn btn-primary btn-sm"%>
          　  <%= link_to'Cancel my account', user_path(@user.id), data: { confirm: "Are you sure?" }, method: :delete,class:"btn btn-danger btn-sm"%>

       </div>
      </div>
    </div>
  </div>
</div>