<p id="notice"><%= notice %></p>
<div class="mypagetitle">
  <h1><%= @user.name %>'s profile</h1>
</div>

<div class = "description-text-margin">
   <p>You can confirm your Email-address and also you can change Email-address or password. </p>
   <p>If you would like to cancel your account, you can do here. 
</div>

<div class="card bg-light" style="width: 700px; margin: auto;">
  <div class="card-body"> 
 <!--  <p class =description-howtouse>Click "How to use" if you would like to know how to use this app.</p> -->
    <div class="mypagecontent">
      <div class="mypagetext">
        <p>Email address: <%= @user.email %></p>
          <div class="text-margin">
          　 <%= link_to 'Change my email address or password',edit_user_registration_path,class:"btn btn-primary btn-sm"%>
          　  <%= link_to'Cancel my account', user_path(@user.id), data: { confirm: "Are you sure?" }, method: :delete,class:"btn btn-danger btn-sm"%>

       </div>
      </div>
    </div>
  </div>
</div>