<div class= "confirm">
  <h3>以下の内容で、送信する。</h3>
</div>

<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>本文:<%= @picture.content %></p>
  <p>画像：
    <%= image_tag(@picture.image) %>
　  <%= hidden_field_tag :"cache[image]",@picture.image.cache_name %>
　</p>
　<br>
  <%= form.submit  "登録する" %>
<% end %>

<%= form_with(model: @picture, url: new_picture_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit "もどる", name: 'back' %>
<% end %>