<div class="container">
  <div class="pictures-all-title">
      <h1>投稿一覧</h1>
  </div>
  <div class="pictures-all-contents">
    <table class= "table">
    <!--<tr>
      <th>タイトル</th>
      <th>内容</th></th>
    </tr>-->
  
      <% @pictures.each do |picture| %>
        <div class="panel panel-default">
          <div class="panel-body"> 
          <tr>
            <td><p>ユーザー名：</p><%= picture.user.name %></td>
            <td><p>投稿内容：</p><%= picture.content %></td>
            <td><%= link_to '詳細', picture_path(picture.id),class:"btn btn-success btn-sm"%></td>
            <% if current_user == picture.user %>
              <td><%= link_to "編集", edit_picture_path(picture.id),class:"btn btn-primary  btn-sm",data: { confirm: '本当に編集していいですか？' } %></td>
              <td><%= link_to '削除', picture_path(picture.id),class:"btn btn-warning btn-sm", method: :delete,data: { confirm: '本当に削除していいですか？' } %></td>
          </tr>
          </div>
        </div>
            <% end %> 
      <% end %>
    </table>
  <%= link_to '新しく投稿する', new_picture_path,class:"btn btn-default btn-sm"%>
  </div>
</div>