<script async defer
   src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDE9c9EOFd9YnXyEJDrhD-S1dojx1tzQOc&callback=triggerMap">
 </script>

<div class="user-new-title">
  <h1>Edit Note</h1>
</div>

<div class = "description-text">
   <p>You can edit a note you made here. </p>
</div>

 <div class="card bg-light" style="width: 600px; margin: auto;">
    <div class="card-body"> 

      <%= form_for @place, url:confirm_edit_places_path,html: {method: :put} do |f| %>

      <% if @place.errors.any? %>
        <div id="error_explanation">
           <h2>There were problems makeing the note.</h2>
          <ul>

          <% @place.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
    
        <% end %>
      <% puts @current_user %>
      <div class="panel panel-default">
        <div class="panel-body"> 
          <div class="field">
            <%= f.label :title %><br>
            <%= f.text_field :title, class: "title" %>
          </div>
          <div class="field">
            <%= f.label :description %>
            <p>(Why do you make tne memo about this place? Enter description about it)</p>
            <%= f.text_area :description, class: "description" %>
          </div>
          <div class="field">
            <%= f.label :category %>
            <p>(You can search this memo by this word )</p>
            <%= f.text_field :category, class: "category" %>
          </div>
          <div class="field">
            <%= f.label :address %>
            <p>(Click "SEARCH" button after entering address.You can see a map)</p>
            <%= f.text_field :address, class: "address" %>
          </div>
             <%= f.hidden_field :id %>
      
          <%= link_to "SEARCH",'#', class: "map-search-button btn btn-primary btn-sm margin-bottom" %>
          <br>
          <div class="map-canvas" style="height: 0;"
                    data-lat="<%= f.object.latitude %>"
                    data-lng="<%= f.object.longitude %>">
          </div>
    <!--        <%= f.text_field :latitude, readonly: true %>
                <%= f.text_field :longitude,readonly: true %> -->
          <div class="form-group">
              <input type="submit" name="commit" value="Update" class="btn btn-lg btn-primary btn-block btn-signin" data-disable-with="Edit map notes" />
          </div>
<!--        <script>
    function koshin(){
    location.reload();
  }
  </script>
 
    <input type="button"  value="地図を表示" onclick="koshin()"> -->
        </div>
      </div>
    <% end %>
    <div class="picture-new-backtoindex">
      <a href="/places">Back</a>
    </div>
  </div>
</div>