<script async defer
   src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDE9c9EOFd9YnXyEJDrhD-S1dojx1tzQOc&callback=triggerMap">
 </script>

<div class="container">
  <div class="pictures-all-title">
      <h1>All notes</h1>
  </div>
  <div class="card bg-light" style="width: 1000px; margin: auto;">
    <div class="card-body"> 
      <div> 
        <%= form_tag(places_path, method: "get",class:"places-search-form") do %>
          <div class="search-index">
            <%= label_tag :category, "Search by category" %>
            <%= text_field_tag :category, params[:category] %><input type="submit" name="commit" value="Search"  class="btn btn-lg btn-dark btn-block search-bottun" style="width: 100px;"   />
             
　  　      <% end %>
　        </div>
　    </div>
      <div class="pictures-all-contents">
         <table class= "table">
          <% @places.each do |place| %>
            <div class="panel panel-default">
              <div class="panel-body"> 
              <tr>
                <% if current_user == place.user %>
                <td><p>Title</p><%= place.title %></td>
                <td><p>Description</p><%= place.description %></td>
                <td><p>Category</p><%= place.category %></td>
                <td><p>Address</p><%= place.address %></td>
                <td><%= link_to 'Detail', place_path(place.id),class:"btn btn-success btn-sm"%></td>
                <td><%= link_to "Edit", edit_place_path(place.id),class:"btn btn-primary  btn-sm",data: { confirm: 'Are you sure？' } %></td>
                <td><%= link_to 'Delete', place_path(place.id),class:"btn btn-warning btn-sm", method: :delete,data: { confirm: 'Are you sure？' } %></td>
              </tr>
            </div>
          </div>
          <div class="map-index">
        
          </div>
          <% end %> 
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>