<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
     <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand brand_aj">InstaClone</a>
        <!--スマホ（ハンバーガーメニュー）-->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
          <span class="sr-only">Bootstrap</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
     　</div>
    　
    　<!--メニューリスト-->
      <div id="gnavi" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
           <% if logged_in? %>
             <!--ログイン済-->
             <%= link_to "Home", root_path %>
             <%= link_to "Profile", user_path(current_user.id) %>
             <%= link_to "All posts",  pictures_path %>
             <%= link_to "Logout", session_path(current_user.id), method: :delete %>
           <% else %>
          <!--未ログイン-->
             <%= link_to "Sign up",  new_user_path %>
             <%= link_to "Login",  new_session_path %>
          <% end %>
      　</ul>
    　</div>
    </div>
  </nav>
  <div>    
    <%= yield %>
  </div>
  </body>
 
  <br>
  <br>
  <br>
  <footer>
    <p>Copyright © 2018 ○○○○ All Rights Reserved.</p>
  </footer>
     
</html>
